<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="轮播导航.html" />
                <add value="轮播导航.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
